body,
html
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    background-color: lighten(black, 8%);
    background: radial-gradient(lighten(black, 10%), black);
}
canvas {
    width: 100%;
    height: 100%;
}
#svg {
    display: none;
}
.debug #svg{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
